---
title: Home
layout: main
isPage: true
---
article.mainpage  
  - var numPosts = getCollection("posts").length

  //- List out formatted sections for 5 latest posts, where first will be shown in full
  each post, index in getCollection("posts").toJSON().slice(0,4)
    - var latestPost = index == 0 

    div(class=latestPost ? 'latest' : 'previous').post-item
      h1.post-title
        if !latestPost
          a(href=post.url)= post.title
        else
          != post.title
      .post-metadata.subtle-text
        include ../includes/post-metadata
    
      .post-body
        if latestPost
          p.post-summary= post.summary
        .post-image
          a(href=post.url)
            img(src='/images/posts/'+post.image, alt='Post image')
        if latestPost
          //- Latest post is displayed in full
          article.post-content
            != post.contentRenderedWithoutLayouts
            h4.italic
              a(href=post.url) See post to view comments and related content
          if numPosts > 1
            h2.earlier-posts Earlier posts:
        else
          p.post-content= post.summary
      hr.divider

  //if we have more posts, show them in a regular list format 
  if numPosts > 5 
    footer
      h3 Older posts
      ul
        each oldPost in getCollection("posts").toJSON().slice(4)
          li
            a(href=oldPost.url)= oldPost.title 
            |  on 
            != oldPost.date.toDateString()

include ../includes/about_aside